body{
  background-color: #fff;
}

/*
ul li{
    display: inline-block;
    background-color: #000;
    color: #fff;
}
*/


#container {
  margin: 20px;
  width: 200px;
  height: 100px;
}

.navbar, .navbar-dark, .navbar-expand-lg{
  background-color: #12a9ba;
}

.center{
  text-align: center;
}
