<div class="container">
  <h1 class="entry-title"><span>Zaloguj się</span></h1>
  <form [formGroup]="loginForm" class="omb_loginForm" autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <input formControlName="login" type="text" class="form-control"
             name="username" placeholder="Nazwa" title="Wprowadź login">
    </div>
    <span class="help-block"></span>

    <div class="input-group">
      <input formControlName="password" type="password" class="form-control"
             name="password" placeholder="Hasło" title="Wprowadź hasło">
    </div>
    <span class="help-block">{{ error }}</span>

    <button class="btn btn-lg btn-pink btn-block" type="submit" title="Przycisk zaloguj">
      Zaloguj
    </button>
  </form>
</div>
